body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #9e9ea0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #59595d;
  height:30px;
  padding: 20px;
  color: white;
}

.App-header img {
  width: 90px;
  height: auto;
}

.mk-light-logo {
  position: relative;
  float: left;
  left: 7rem;
}

.App-links {
  position: relative;
  right: 7rem;
  float: right;
  font-size: .75em;
  list-style: none;
  display: inline-block;
  margin: 0;
}

.App-links li {
  float: left;
  border-left: 1px solid #9e9ea0;
}

.App-links li:first-child {
  border: none;
}

.App-links li a {
  display: block;
  margin: 0;
  margin: .5rem 1rem;
  color: white;
  text-decoration: none;
}

.App-links a {
  position: relative;
}

.App-links a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #9e9ea0;
  transition: 0.4s;
}

.App-links a:hover:after {
  width: 100%;
}

.App-container {
  font-size: large;
  background: #9e9ea0;
  color: #fff;
  padding-top: 15%;
}

.chat-container {
  position: relative;
}

.enter {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #59595d;
  height: 210px;
  width: 60em;
  display: flex;
  flex-direction: column;
  /* optional. only if you want the items to wrap */
  justify-content: center;
  /* for horizontal alignment */
  align-items: center;
  /* for vertical alignment 
  margin: 0 auto;*/
  margin: 200px 0 0 -480px;
}

.chat-container input {
    padding: 0;
    height: 3rem;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 1rem;
    width: 40%;
    text-align: center;
}

.chat-container input::-webkit-input-placeholder {
   text-align: center;
}

.chat-container input:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.chat-container input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.chat-container input:-ms-input-placeholder {  
   text-align: center; 
}

.chat-button {
    width: 40%;
    height: 3rem;
    border: none;
    font-size: 1rem;
    position: relative;
}

.chat-button:before {
  background: url('../img/chat_orange_2x.png');
  background-size: 36px 36px;
  position: absolute;
  left: 7rem;
  top: .5rem;
  width: 36px;
  height: 36px;
  content:"";
}

.chat-orange {
  color: #fff;
  background: #f27c36;
}

.chat-orange:hover {
  background: #d25f15;
}

/* chat panel styles */
.chat-panel {
  position: absolute;
  background: #ceced0;
  border-radius: .5rem;
  height: 85%;
  width: 250px;
  right: 10px;
  top: 5rem;
  margin-bottom: 10px;
  padding: 1rem;
}

.chat-header {
  max-height: 2rem;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.chat-header .close {
  position: relative;
  float: left;
}

.chat-header h1 {
  font-size: 1.2rem;
  margin-left: 2rem;
  color: #fff;
}

.chat-header h1:before {
  background: url('../img/close_2x.png');
  background-size: 21px 21px;
  background-repeat: no-repeat;
  position: absolute;
  left: 1rem;
  width: 21px;
  height: 21px;
  content:"";
}

.message-container {
  position: absolute;
  bottom: 10rem;
  color: #030418;
  text-align: right;
  width: 255px;
}

.message-container .message-title {
  font-size: small;
  clear: both;
}

.chat-panel .chat-button:before {
  background: none;
  background-size: 0 0;
  position: absolute;
  left: 7rem;
  top: .5rem;
  width: 0;
  height: 0;
  content:"";
}

.chat-panel .chat-button {
    width: 255px;
    height: 2rem;
    border: none;
    font-size: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 0.2rem;
}

.chat-bubble {
  background: #e8fafc;
  padding: .5rem;
  border-radius: .5rem;
  margin:.5rem 0 .5rem 0;
  width: auto;
  position: relative;
  float: right;
  clear: both;
}

.chat-box {
  position: absolute;
  bottom: 3.8rem;
  left: 1rem;
  padding-left: 1rem;
  width: 14.8rem;
  height: 5rem;
  border: none;
  border-radius: .2rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
